body {
    background-color: rgb(0, 0, 0);
    border-width: 10px;
  }
  h1 {
      color: saddlebrown;
    text-align: center;
    }
  p,h3 {
    color: aliceblue;
    
  }
  #puppy {
    color: yellow;
  }